NODE_ENV=development
APP_PORT=3001
APP_CORS_ORIGIN=http://localhost:3000

DATABASE_URL="mysql://app:app@localhost:3306/maria_paparico"

JWT_ACCESS_SECRET=40f0bb4ad96f96d3236b77f3d836d707338becd19b44114baeead7ef8ac798c1
JWT_REFRESH_SECRET=e200b0cf2adf3ee994f5c33af9cad155817217fba3fedc90e71266351daf7f25
JWT_ACCESS_EXPIRES_IN=10m
JWT_REFRESH_EXPIRES_IN=15d
JWT_REFRESH_EXPIRES_DAYS=15
JWT_REFRESH_COOKIE_MAX_AGE_MS=1296000000

THROTTLE_TTL_SECONDS=60
THROTTLE_LIMIT=100
